@utility animation-slide-offset-xs {
  --animation-slide-offset: 0.5rem;
}

@utility animation-slide-offset-sm {
  --animation-slide-offset: 1rem;
}

@utility animation-slide-offset-md {
  --animation-slide-offset: 2rem;
}

@utility animation-slide-offset-lg {
  --animation-slide-offset: 3rem;
}

@utility animation-slide-offset-xl {
  --animation-slide-offset: 4rem;
}

@utility animation-slide-offset-2xl {
  --animation-slide-offset: 6rem;
}

@utility animation-slide-offset-3xl {
  --animation-slide-offset: 8rem;
}

@utility animation-slide-offset-* {
  --animation-slide-offset: --value([ *]);
}