@utility anim-normal {
  animation-direction: normal;
}

@utility anim-reverse {
  animation-direction: reverse;
}

@utility anim-alternate {
  animation-direction: alternate;
}

@utility anim-alternate-reverse {
  animation-direction: alternate-reverse;
}