@utility anim-fill-none {
  animation-fill-mode: normal;
}

@utility anim-fill-forwards {
  animation-fill-mode: forwards;
}

@utility anim-fill-backwards {
  animation-fill-mode: backwards;
}

@utility anim-fill-both {
  animation-fill-mode: both;
}