/* Slide animations */
@keyframes slide-in {
  from {
    opacity: var(--anim-opacity);
    filter: var(--anim-blur);
    scale: var(--anim-scale-x) var(--anim-scale-y);
    rotate: var(--anim-rotate);
    translate: var(--internal-anim-slide-transform);
  }

  to {
    translate: 0;
  }
}


@keyframes slide-out {
  from {
    translate: 0;
  }

  to {
    opacity: var(--anim-opacity);
    filter: var(--anim-blur);
    scale: var(--anim-scale-x) var(--anim-scale-y);
    rotate: var(--anim-rotate);
    translate: var(--internal-anim-slide-transform);
  }
}

/* Fade animations */
@keyframes fade-in {
  from {
    opacity: var(--anim-opacity);
    filter: var(--anim-blur);
    scale: var(--anim-scale-x) var(--anim-scale-y);
    rotate: var(--anim-rotate);
  }
}

@keyframes fade-out {
  to {
    opacity: var(--anim-opacity);
    filter: var(--anim-blur);
    scale: var(--anim-scale-x) var(--anim-scale-y);
    rotate: var(--anim-rotate);
  }
}